* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    
    margin-top: 20px;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.encabezado {
    width: 70%;
    min-width: 290px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado span {
    text-align: center;
    font-size: 2.0rem ;
    font-family: monospace;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: #012424 solid 1px;
    width: 70%;
    min-width: 270px;
    margin-top: 10px;
    padding: 10px;
    list-style-type: none;
    background-color: antiquewhite;
    
}

.main-nav ul {
    display: flex;
    min-width: 270px;
    width: 50%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-nav li {
    display: inline-block;
   margin: 10px;
}

.main-nav a {
    color: white;
    background-color: #13a4a4;
    font-size: 1.6rem;
    border-radius: 2px;
    text-decoration: none;
    padding: 5px;
}