:root {
    /* --oscuro: #071C34;
    --oscuro2: #144361;
    --medio: #6298BC;
    --medio2: #87B2CC;
    --claro: #C0CED1; */

    --oscuro: #763838;
    --oscuro2: #E4B2A4;
    --medio: #EBBEB1;
    --medio2: #EBCDC5;
    --claro: #F2E8DB;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    min-width: 300px;
}


.topHeader {

    background: linear-gradient(180deg, var(--oscuro), var(--oscuro2));
    display: flex;
    width: 100%;
    height: 10rem;
    justify-content: center;
    align-items: center;
}

.topHeader__inside {
    width: 75%;
    padding: 0.5rem;
    justify-content: center;
}

.topHeader__titulo h1 {
    text-align: center;
    color: var(--claro);
    font-size: 2.5rem;
}

.bottomHeader {
    border-bottom: 2px black solid;
    width: 100%;
    background-color: var(--claro);
    padding: 0.5rem;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    font-size: 2rem;
    display: flex;
    width: 75%;
    justify-content: center;

}

header nav li {
    display: inline-block;
    list-style: none;
    padding: 1rem;
    margin: 0rem;
    align-self: center;
}

header nav li:not(:last-child) {
    border-right: 2px black solid;
}

header nav li:not(:first-child) {
    border-left: 2px black solid;
}

header nav li:hover {
    background-color: var(--medio2);
    cursor: pointer;
}

header nav li:active {
    background-color: var(--medio);
}

header nav li a {
    text-decoration: none;
    color: var(--oscuro);
}

nav .selected-nav {
    background-color: var(--oscuro2);
}

main {
    background-color: var(--medio2);
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    /* height: 300px; */
    width: 80%;
    margin: 3rem auto;
    /* border: 2px #071C34 solid; */
    display: flex;
    justify-content: center;
}
.banner img {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    
}

.info {
    width: 75%;
    min-width: 290px;
    font-size: 2.2rem;
    text-align: justify;
    margin: 3rem auto;
}

section {
    background-color: var(--claro);
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    border: 2px var(--medio2) solid;
    border-radius: 3px;
    margin: 3rem 0;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    /* box-shadow: 0 0 10px 0 var(--oscuro); */
}

article {
    border: 2px var(--oscuro) solid;
    width: 49%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article .publication-date {
    font-size: 1.3rem;
    align-self: flex-end;
    color: lightslategray
}

article picture {
    /* border: 3px black solid; */
    margin: 0 auto;
    max-width: 90%;
    height: auto;
}

article img {
    max-width: 100%;
    height: auto;
}

article p {
    margin: 1rem 3rem;
    text-align: justify;
}

article audio {
    display: inline-block;
    align-self: center;
    margin: 2rem;
}

article h3 {
    text-align: center;
    padding: 2rem;
    color: var(--oscuro);
}

footer {
    height: 10rem;
    width: 100%;
    min-width: 300px;
    display: flex;
    background: linear-gradient(90deg, var(--oscuro), var(--oscuro2));
    justify-content: end;
    align-items: center;
}

.base {
    padding: 2rem;
}

.base__inside a {
    text-decoration: none;
    color: var(--claro);
    font-size: 2rem;
}